body{
    margin: 0;
    padding: 0;
    width: 95vw;
    height: 130vh;
    display: flex;
    background-image: url(fundo\ 2.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
}


@font-face {
    font-family: principal;
    src: url(NTBrickSans.ttf);
}

@font-face {
    font-family: secundaria;
    src: url(Ultramagnetic_Bold.ttf);
}


.home{
    text-decoration: none;
    text-align: center;
    font-family: principal;
    font-size: 40px;
    color: #fff;
    height: 65px;
    width: 180px;
    padding: 10px;
    position:absolute;
    margin-left: 50px;
    margin-top: 75px;
}


.home:hover{
    transition: 0.5s;
    background-color: #9ACF16;
}


.loja{
    text-decoration: none;
    text-align: center;
    font-family: principal;
    font-size: 40px;
    color: #fff;
    height: 65px;
    width: 280px;
    padding: 10px;
    position:absolute;
    margin-left: 400px;
    margin-top: 75px;
}


.loja:hover{
    transition: 0.5s;
    background-color: #9ACF16;
}


.contato{
    text-decoration: none;
    text-align: center;
    font-family: principal;
    font-size: 40px;
    color: #fff;
    height: 65px;
    width: 280px;
    padding: 10px;
    position:absolute;
    margin-left: 850px;
    margin-top: 75px;
}


.contato:hover{
    transition:0.5s;
    background-color: #9ACF16;
}


.container{
    margin-top: 270px;
    margin-left: 50px;
}


.foto,.foto1{
    position: relative;
    display: inline-block; 
    border:none;
    border-radius: 20%;
    transition: all 0.5s;
    cursor: pointer;
}


.foto{
    margin-right: 40px;
    margin-bottom: 100px;
}


.foto1{
    margin-right: 40px;
}


.foto:hover{   
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


.foto1:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}



.logotipo{
    height: 500px;
    width: 500px;
    margin-right: 0;
}
